
<body>
  <table>
    <tr>
      <th colspan="2">
        <h1 id="title">{{ isLogin ? 'Bejelentkezés' : 'Regisztráció' }}</h1>
      </th>
    </tr>
    <tr>
      <th id="main_img">
        <img src="../../assets/auth_image.png" >
      </th>
      <th id="container">
        <div >
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <label for="email">Email:</label><br>
            <input type="email" ngModel name="email" required email><br><br>
            <label for="password">Password:</label><br>
            <input type="password"ngModel name="password" required minlength="6"><br><br>
            <button type="button"  (click)="onSwitchAuthMode()" >Váltás {{ isLogin ? 'Regisztrációra' : 'Bejelntkezésre' }}</button><br><br>
            <button type="submit"  [disabled]="!f.valid" >{{ isLogin ? 'Bejelntkezés' : 'Regisztráció' }}</button>
          </form>
        </div>
      </th>
    </tr>
  </table>


