
<body>

  <table id="container">
    <tr>
      <th>
        <button id="cart" (click)="goToMain()">Vissza</button>
      </th>
      <th>
        <h1>Kisállat Online Szaküzlet</h1>
      </th>
      <th>
        <button id="cart" (click)="logOut()">Kijelentkezés</button>
      </th>
    </tr>
    <tr>
      <th>
        <img id="side" src="../../assets/main_1.png">
      </th>
      <th id="products_th">
        <h1> Kosár </h1>
        <table id="products" *ngFor="let cartElements of cart">
          <tr>
            <th>
              Termék név:  {{cartElements.productName}}
            </th>
            <th>
              Termék ár: {{cartElements.productPrice}}
            </th>
            <th>
              Darabszám: {{cartElements.db}}
            </th>
        </table>
        <p>Össz ár: </p>
      </th>
      <th>
        <img id="side" src="../../assets/main_2.png">
      </th>
    </tr>
  </table>



</body>

